* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ================================================== common */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
  text-align: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.btn:hover {
  opacity: 0.9;
}
h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
h2 {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
h3 {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
/* ================================================== header */
.header {
  background: var(--header-bg);
  min-height: 100vh;
}
/* ================================================== header top */
.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
.nav-bar__list {
  display: flex;
}
.nav-bar__item {
  padding: 8px 21px;
}
.header__action--login,
.nav-bar__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.header__action--login:hover,
.nav-bar__link:hover,
.nav-bar__link--action {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.nav-bar__link--action::before {
  content: "";
  display: inline-block;
  position: relative;
  right: 8px;
  top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.header__action {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header__action--signup {
  width: 104px;
  height: 44px;
  font-size: 1.6rem;
  line-height: 1.75;
}
/* ================================================== header bottom - hero */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__desc {
  color: #c9d2da;
  padding-top: 22px;
}
.hero__row {
  padding-top: 38px;
  display: flex;
  gap: 38px;
  align-items: center;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
/* ================================================== services */
.services {
  margin-top: 170px;
}
.service__desc {
  text-align: center;
  margin-top: 18px;
}
.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.service_img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service__item {
  display: flex;
  gap: 19px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 21px;
  transition: 0.25s;
}
.service__item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}
.service__item:hover .service__icon {
  color: #fff;
  background: #2e80ce;
}
.service__content--desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 55px;
}

/* ================================================== work */
.work {
  margin-top: 170px;
  padding: 100px 0;
  background: #f6fbff;
}
.work__heading {
  text-align: left;
}
.work__desc {
  margin-top: 18px;
  width: 468px;
}
.work__row {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}
.work__item {
  width: 370px;
  height: 402px;
  padding: 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
}
.work__item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}
.work__icon {
  width: 72px;
  height: 72px;
}
.work__item--heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}
.work__item--desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}
.work__link {
  display: inline-block;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 18px;
}
.work__item:hover .work__link {
  color: #2e80ce;
}
